body{
    font-family: 'Poppins', sans-serif;
    margin:0px ;}
    h1{font-size: 50px;}
    h2{font-size: 40px;}
    h3{font-size: 35px;}

    .flexible{
    display: flex;}

    .half{
        margin-top: 5%;
        width: 50%;
        padding-left:10%;}

    .half img{
        width: 100%;}

    .half2{
        width: 50%;
        padding-right:10%;}

    .half2 img{
        width: 100%;}    

    .blue{
        color: blue;}

    .link-button{
            text-decoration: none;
            background-image: linear-gradient(blue,purple);
            color: white;
            padding: 15px 50px;
            font-weight: 400;
            border-radius: 50px;}

    .ash{
        color:grey;}

    .banner-1{
            background-image: url(images/Frame\ 56.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;}

        .cent{
            text-align: center;}

        .box{
            margin:3% 4% 3% 4% ;
            text-align: center;
            border-radius: 30px;
            background: white;
            padding: 2px;
            box-shadow: 0px 0px 20px -5px;}

            .box img{
                margin: 10px 10px 10px 10px;
                justify-content: center;
                align-items: center;
                width: 90%;}

            .box p{
                margin: 0px 20px 0px 20px;}

        .thrice{
            text-align: center;
            width: 33.33%;}
        .area{
            background-image: url(images/exp-bg.png);
            background-repeat: no-repeat;
            background-position: left;}
        #web-dev{
                border-image: linear-gradient(purple, tomato);
                border-left: 7px solid;
                border-image-slice: 1;}

        #web-dev-exp{
                    border-image: linear-gradient(blue, cyan);
                    border-left: 7px solid;
                    border-image-slice: 1;}
        .exp{
                    width: 40%;
                    margin-left: 5%;
                    margin-right: 5%;
                    padding-left: 10px;
                    border-radius: 5%;
                    box-shadow: 10px 10px 40px gray;}

        footer{
            text-align: center;
        background-color: black;}
        footer p{color: white;
            text-align: center;
        padding-bottom: 8%;}